<a href="https://colab.research.google.com/github/Comrade17th/study/blob/develop/BigData/q4_1_done.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
#1. В таблице Customers.csv
# посчитайте количество клиентов, чья должность - Owner.
df_c = pd.read_csv('Customers.csv', sep = ';')
len(df_c[df_c['ContactTitle']=='Owner'])

17

In [38]:
# посчитайте количество клиентов, чьи имена начинаются на латинскую
#букву A. Сколько таких клиентов?
len(df_c[df_c['ContactName'].str.match('A')])

10

In [42]:
# выведите клиентов, чьи номера телефонов содержат 5555 (четыре
#символа 5 подряд). Четыре пятерки подряд могут быть в начале номера,
#в середине или в конце. Сколько таких клиентов?
print(len(df_c[df_c['Phone'].str.contains('5555')]))
df_c[df_c['Phone'].str.contains('5555')]

2

,CustomerID,ContactName,ContactTitle,Phone,Address
11,CACTU,Patricio Simpson,Sales Agent,(1) 135-5555,Cerrito 333
63,RANCH,Sergio Gutierrez,Sales Representative,(1) 123-5555,Av. del Libertador 900

In [51]:
# посчитайте количество клиентов, у которых должность Owner или Sales
#Representative. Сколько таких клиентов?
len(df_c[(df_c['ContactTitle']== 'Owner')|(df_c['ContactTitle']=='Sales Representative')])
#df_c.groupby([df_c['ContactTitle']]).ContactTitle.count()

34

In [53]:
df_c.groupby('ContactTitle').ContactTitle.count()

# посчитайте в разрезе должностей количество клиентов. Иными словами,
#сгруппируйте должности и посчитайте количество клиентов.
#Сопоставьте должность и количество клиентов

ContactTitle
Accounting Manager                10
Assistant Sales Agent              2
Assistant Sales Representative     1
Marketing Assistant                6
Marketing Manager                 12
Order Administrator                2
Owner                             17
Owner/Marketing Assistant          1
Sales Agent                        5
Sales Associate                    7
Sales Manager                     11
Sales Representative              17
Name: ContactTitle, dtype: int64